
#wrap {
    overflow: hidden;
}

.inner {
    //width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: content-box;
    @include tablet {
        padding: 0 100px;
    }
    @include mobile {
        padding: 0 24px;
    }
}

#header {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0 60px;
    transition: 
        color .2s ease-in-out,
        background-color .2s ease-in-out,
        top .4s ease-in-out
    ;
    &.up {
        top: -80px;
        
    }
    @include tablet { 
        justify-content: space-between;
        padding: 0 36px;
        height: 60px;
        &.up {
            top: -60px;
            
        }
    }
    @include mobile {  
        height: 54px;
        padding: 0 24px;
        &.up {
            top: -54px;
            
        }
    }
    .logo {
        
        width: 108px;
        height: 100%;
        background-image: url(../img/logo.svg);
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        &::after {
            position: absolute;
            width: 0;
            height: 0;
            overflow: hidden;
            z-index: -1;
            content: url(../img/logo_black.svg);
        }
        @include tablet {  
          
        }
        @include mobile {  
           
        }
    }
    .nav {
        margin-left: auto;

        @include tablet {
            position: fixed;
            right: 30px;
            top: 50%;
            transform: translateY(-50%);
            text-align: right;
            transition: all .2s ease-in-out;
        }
        @include mobile {
            right: 16px;
        }
            
        &_list {
            display: flex;
            gap: 48px;
            @include tablet {
                flex-direction: column;
                gap: 10px;
            }
            @include mobile { 
                gap: 10px;
            }
        }
        &_item {
            font-size: 14px;
            line-height: 1.5;
            font-weight: 400;
            position: relative;
            @include tablet {
                padding-right: 18px;
                opacity: 0.3;
                a {
                    order: 0;
                    font-size: 12px;
                    color: $c_fc;
                }
                &::before {
                    position: absolute;
                    right: 0;
                    top: 50%;
                    margin-top: -4px;
                    content:'';
                    
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background-color: $c_fc;
                    
                }
            }
            // @include tablet {
            //     padding-right: 14px;
            // }
            @include tablet {
                padding-right: 0;
                a {
                    width: 14px;
                    height: 14px;
                    position: relative;
                    span {
                        display: none;
                    }
                }
            }

            &::after {
                transition: all .2s ease-in-out;
                content: '';
                position: absolute;
                width: 0;
                height: 1px;
                background-color: #fff;
                bottom: 0;
                left: 0;
                @include tablet { 
                    display: none;
                }
            }
            a {
                display: block;
            }
            &.on {
                &::after {
                    width: 100%;
                }
                @include tablet { 
                    opacity: 1;
                    &::before {
                        transform: scale(1.4);
                    }
                }
                
            }
        }
        
    }
    &.on {
        background-color: #fff;
        color: $c_fc;
        .logo {
            background-image: url(../img/logo_black.svg);
        }
        .nav_item::after {
            background-color: $c_fc;
        }
        .lang {
            &_ico {
                background-image: url(../img/globe_black.svg);
            }
            &_btn {
                &:after {
                    border-top-color: #000;
                }
            }
            &_list {
                border-color: #000;
                a {
                    &::after {
                        background-color: #000;
                    }
                }
            }
        }
    }

    .lang {
        position: relative;
        margin-left: 100px;

        &_ico {
            margin-right: 6px;
            width: 18px;
            height: 18px;
            background-image: url(../img/globe.svg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }
        &_btn {
            //font-weight: bold;
            height: 40px;
            display: flex;
            align-items: center;
            font-size: 14px;
            // &:after {
            //     content:'';
            //     border-left: 4px solid transparent;
            //     border-right: 4px solid transparent;
            //     border-top: 6px solid #fff;
            //     margin-top: 1px;
            //     margin-left: 5px;
            //     transition: all .2s ease-in-out;
            // }
        }
        /*
        &:hover {
            .lang_btn::after {
                transform: rotate(180deg);
            }
            .lang_list {
                
                opacity: 1;
                visibility: visible;
            }
        }
        &_list {
            opacity: 0;
            visibility: hidden;
            transition: all .2s ease-in-out;
            
            position: absolute;
            right: 0;
            top: 40px;
            border: 1px solid #fff;
            padding: 8px 10px;
            border-radius: 4px;
            
            li + li {
                margin-top: 6px;
            }
            a {
                display: block;
                position: relative;
                line-height: 1.3;
                white-space: nowrap;
                font-size: 14px;
                &::after {
                    content:'';
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    height: 1px;
                    width: 0;
                    background-color: #fff;
                    transition: width .2s ease-in-out;
                }
                &:hover {
                    &::after {
                        width: 100%;
                    }
                }
            }
        }
        */
    }
}

.footer {
    background-color: $c_fc;
    padding: 100px 0;
    color: #fff;
    

    @include tablet {   
        padding: 60px 0;
    }
    @include mobile {   
        padding: 48px 0 60px;
    }
    .inner {
        position: relative;
    }
    &_tit {
        font-size: 26px;
        font-weight: bold;
        @include tablet {   
            font-size: 20px;
        }
    }
    &_info {
        margin-top: 48px;
        font-size: 12px;
        display: flex;
        gap: 36px;
        letter-spacing: normal;
        .tit {
            display: block;
            font-weight: bold;
            
        }
        .cont {
            display: block;
            margin-top: 2px;
            
        }

        @include tablet {   
            flex-direction: column;
            gap: 12px;
            margin-top: 24px;
        }
    }
    .copy {
        margin-top: 24px;
        font-size: 11px;
        color: #BABABA;
    }
    .btn_top {
        position: absolute;
        width: 48px;
        height: 48px;
        right: 50px;
        top: 0;
        border-radius: 50%;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        @include tablet {  
            width: 44px;
            height: 44px;
        }
        @include mobile {  
            width: 38px;
            height: 38px;
            top: auto;
            right: 24px;
            bottom: 0;
        }
       
        &::after {
            content:'';
            width: 12px;
            height: 12px;
            margin-top: 4px;
            transform: rotate(-45deg);
            border-top: 2px solid #000;
            border-right: 2px solid #000;
        }
    }
}


.sec {
    padding: 144px 0 164px;
    position: relative;
    &.no_pd {
        padding: 0;
    }
    &.bg_grey {
        background-color: $c_bg_grey;
    }
    &_tit {
        margin-bottom: 60px;
        .tit {
            font-size: 36px;
            font-weight: bold;
            line-height: 1.2;
        }
        .tit2 {
            font-size: 26px;
            font-weight: bold;
            line-height: 1.2;
        }
        .desc {
            font-size: 18px;
            margin-top: 16px;
            line-height: 1.6;
        }
    }
    
}



.fill_txt_box {
    font-weight: bold;
    text-align: center;

    @include tablet { 
        padding: 0 40px;
    }
    @include mobile {
        padding: 0;
    }
    
    .gap {
        display: inline-block;
        width: 0.6em;
    }
    .fill_txt_item {
        display: inline-block;
        font-size: 26px;
        line-height: 1.5;
        position: relative;
        font-weight: 600;
        color: #ddd;
        margin-right: 0.4em;
        // background-repeat: no-repeat;
        // transition: background-size .5s cubic-bezier(0.67,0.01,0.15,0.98);
        // -webkit-text-fill-color: #ddd;
        // background-clip: text;
        // background-image: linear-gradient(90deg, black 100%, black 100%, transparent 50.1%);
        // background-size: 0 100%;
    
        span {
            position: absolute;
            left: 0;
            top: 0;
            width: 0;
            color: $c_fc;
            overflow: hidden;
        }
        &::after {
            
            content: attr(data-text);
            overflow: hidden;
            color: #ddd;
            white-space: nowrap;
        }
        &.on {
           span {
            width: 100%;
           }
        }

        @include tablet { 
            font-size: 20px;
            
        }
        @include mobile { 
            font-size: 18px;
            
        }
    }
    @include tablet {
        br {
            display: none;
        }
    }
} 


.mv {
    position: absolute;
    width: 100%;
    height: 100vh;
    &_section {
        background-color: #000;
        font-size: 100px;
        color: #fff;
       
       
    }
    video {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        object-fit: cover;
    }
    &_cont {
        position: relative;
        z-index: 10;
        //padding-bottom: 50vh;
    }
    &_tit {
        width: 100%;
        height: 200vh;

        &_cont {
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 10vh;
            font-weight: bold;
        }

        
    }
    &_txt {
        font-size: 36px;
        text-align: center;
        font-weight: bold;
        line-height: 1.4;
        height: 240vh;
        
        &_tit {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 60px;
            
        }
        &_cont {
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        } 
        
    }
    &_fade {
        // &:first-child {
        //     opacity: 1;
        // }
        opacity: 0.15;
    }
    &_slogan {
        padding-top: 25vh;
    }
    &_slogan_item  {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50vh;
        font-size: 36px;
        text-align: center;
        font-weight: bold;
        opacity: 0;
        transform: scale(0.5);
    }
}


.hd_box {
    position: relative;
    padding-top: 56.25%;
    video {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
}


.vid_open {
    width: 100%;
    position: relative;
    height: 600px;

    &_cv {
        position: absolute;
        top: 0;
        height: 100%;
        background-color: #fff;
        width: 50%;
        z-index: 10;
        &.left {
            left: 0;
        }
        &.right {
            
            right: 0;
        }
    }


    
    video {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        object-fit: cover;
    }
}





.btn {
    transition: all .1s ease-in-out;
    height: 50px;
    box-sizing: border-box;
    line-height: 49px;
    border-style: solid;
    border-width: 1px;
    padding: 0 26px;
    border-radius: 25px;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    &.has_ico {
        padding-right: 16px;
    }
    &.taC {
        justify-content: center;
    }
    &_ico {
        margin-left: 16px;
        &._plus {
            position: relative;
            width: 19px;
            height: 19px;
            &::after, &::before {
                transition: all .1s ease-in-out;
            }
            &::before {
                background-color: #000;
                content: '';
                width: 1px;
                height: 100%;
                left: 50%;
                top: 0;
                margin-left: -1px;
                position: absolute;
            }
            &::after {
                background-color: #000;
                content: '';
                width: 100%;
                height: 1px;
                top: 50%;
                left: 0;
                margin-top: -1px;
                position: absolute;
            }
        }
    }
    &._black {
        background-color: #000;
        border-color: #000;
        color: #fff;
        &:hover {
            background-color: #353535;
            border-color: #353535;
        }
    }
    &._ol {
        background-color: transparent;
        border-color: #000;
        color: #000;
        &:hover {
            background-color: #000;
            color: #fff;
            .btn_ico._plus {
                &::after, &::before {
                    background-color: #fff;
                }
            }
        }
    }
    &._grey {
        background-color: #BABABA;
        border-color: #BABABA;
        color: #fff;
        &:hover {
            background-color: #6E6E6E;
            border-color: #6E6E6E;
        }
    }

    &._tab {
        background-color: #BABABA;
        border-color: #BABABA;
        color: #fff;
        &:hover {
            background-color: #6E6E6E;
            border-color: #6E6E6E;
        }

        &.on {
            background-color: #000;
            border-color: #000;
            color: #fff;
            &:hover {
                background-color: #353535;
                border-color: #353535;
            }
        }
    }
}




@property --percent {
syntax: "<number>";
initial-value: 0;
inherits: false;
}
@property --temp {
syntax: "<number>";
initial-value: 0;
inherits: false;
}
@property --v1 {
syntax: "<integer>";
initial-value: 0;
inherits: false;
}
@property --v2 {
syntax: "<integer>";
initial-value: 0;
inherits: false;
}
  
.count_box {
    //font: 800 40px monospace;
    font-size: 20vh;
    font-weight: bold;
    padding: 2rem;
    transition: --percent 2s ease;
    --temp: calc(var(--percent));
    --v1: max(var(--temp) - 0.5, 0);
    --v2: max((var(--temp) - var(--v1)) * 100 - 0.4, 0);
    counter-reset: v1 var(--v1) v2 var(--v2);
}
.count_box::before {
    content: counter(v1) "." counter(v2, decimal-leading-zero) "%";
}



.text_gradient {
    background: rgb(0,159,209);
    background: linear-gradient(90deg, rgba(0,159,209,1) 0%, rgba(23,0,116,1) 50%, rgb(185, 136, 171) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}




.service {
    &_list {
        display: flex;
        gap: 24px;
    }
    &_item {
        .txt_box {
            margin-top: 24px;
            .tit {
                display: block;
                font-size: 20px;
                line-height: 1.2;
            }
            .desc {
                font-size: 16px;
                margin-top: 12px;
            }
        }
    }
}

.sec_tech {
    height: 300vh;
   
    box-sizing: border-box;
    padding-top: 210px;
    .tech_text {
        position: relative;
        z-index: 99;
        color: #fff;
        opacity: 0;
        transform: translateY(100px);
        &1 {
            font-size: 20px;
            margin-bottom: 1.2em;
        }
        &2 {
            font-size: 36px;
            margin-bottom: 1em;
            font-weight: bold;
        }
        &3 {
            font-size: 18px;
        }
    }
}
.fixed_area {
    &_bg {
        position: absolute;
        width: 100%;
        height: 100vh;
        left: 0;
        top: 0;
        &::after {
            content:'';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background-color: rgba(#000,.4);
        }

        * {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100vh;
            object-fit: cover;
        }
    }
    
}

.certification {
    .txt_box {
        margin-top: 60px;
        .tit {
            display: block;
            font-size: 26px;
            margin-bottom: 16px;
        }
        p {
            & + p {
                margin-top: 1.5em;
            }  
        }
        .btn {
            margin-top: 32px;
        }
    }
}

.power {
    &_top {
        .sec_tit {
            margin-bottom: 0;
        }
        .desc {
            font-size: 26px;
            line-height: 1.4;
            font-weight: bold;
        }
        
    }
    .vid_open_wrap {
        margin: 100px 0;
    }

    
}
.counter {
    display: flex;
    align-items: center;
    margin: 0 auto;
    &_tit {
        font-weight: normal;
    }
    &_item {
        & + & {
            margin-top: 10px;
        }
    }
    &_box {
        &_wrap {
            order: 2;
            width: 139px;
            flex-shrink: 0;
            text-align: right;
            font-size: 36px;
            font-weight: bold;
            line-height: 1;
            @at-root .counter.ty_big & {
                font-size: 230px;
                width: auto;
                font-weight: bold;
                line-height: 1.2;
                letter-spacing: -0.07em;
            }
        }
        
        
    }
    .graph {
        flex: 1;

        height: 12px;
        background-color: #eee;
        position: relative;
        border-radius: 6px;
        overflow: hidden;
        &_bar {
            border-radius: 6px;
            position: absolute;
            background: rgb(0,159,209);
            background: linear-gradient(90deg, rgba(0,159,209,1) 0%, rgba(23,0,116,1) 100%);
            height: 100%;
            width: 0;
            //transition: width .2s ease-in-out;
        }
    }
}